.highlight-button {
    display: block;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.affix {
    top: 70px;
    z-index: 9999 !important;
}

.my-comment {
    position: absolute;
    width: 90%;
}

#highlight-buttons {
    float: left;
    width: 60px;
    position: fixed;
}

.document-presenter {
    /*float: left;*/
    margin-left: 60px;
    width: 740px;
    position: absolute;
    box-sizing: border-box;
}

.my-fluid {
    padding-left: 800px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

#txt-presenter{
    background-color: white;
    border-width: 0;
}

/*highlight button, css base copyed from bootstrap*/

.btn-hl-lightblue {
  color: black;
  background-color: rgba(100, 100, 255, 0.4);
  border-color: rgb(100,100,255);
}
.btn-hl-lightblue:focus,
.btn-hl-lightblue.focus {
  color: black;
  background-color: rgba(90, 90, 230, 0.6);
  border-color: rgb(75,75,191);
}
.btn-hl-lightblue:hover {
  color: black;
  background-color: rgba(90, 90, 230, 0.6);
  border-color: rgb(88,88,224);
}
.btn-hl-lightblue:active,
.btn-hl-lightblue.active,
.open > .dropdown-toggle.btn-hl-lightblue {
  color: black;
  background-color: rgba(90, 90, 230, 0.6);
  border-color: rgb(88,88,224);
}
.btn-hl-lightblue:active:hover,
.btn-hl-lightblue.active:hover,
.open > .dropdown-toggle.btn-hl-lightblue:hover,
.btn-hl-lightblue:active:focus,
.btn-hl-lightblue.active:focus,
.open > .dropdown-toggle.btn-hl-lightblue:focus,
.btn-hl-lightblue:active.focus,
.btn-hl-lightblue.active.focus,
.open > .dropdown-toggle.btn-hl-lightblue.focus {
  color: black;
  background-color: rgba(83, 83, 211, 0.6);
  border-color: rgb(75,75,191);
}
.btn-hl-lightblue.disabled:hover,
.btn-hl-lightblue[disabled]:hover,
fieldset[disabled] .btn-hl-lightblue:hover,
.btn-hl-lightblue.disabled:focus,
.btn-hl-lightblue[disabled]:focus,
fieldset[disabled] .btn-hl-lightblue:focus,
.btn-hl-lightblue.disabled.focus,
.btn-hl-lightblue[disabled].focus,
fieldset[disabled] .btn-hl-lightblue.focus {
  background-color:rgba(100, 100, 255, 0.4);
  border-color: rgb(100,100,255);
}


.btn-hl-red {
  color: black;
  background-color: rgba(240, 0, 0, 0.4);
  border-color: rgb(240,0,0);
}
.btn-hl-red:focus,
.btn-hl-red.focus {
  color: black;
  background-color: rgba(216, 0, 0, 0.6);
  border-color: rgb(180,0,0);
}
.btn-hl-red:hover {
  color: black;
  background-color: rgba(216, 0, 0, 0.6);
  border-color: rgb(211,0,0);
}
.btn-hl-red:active,
.btn-hl-red.active,
.open > .dropdown-toggle.btn-hl-red {
  color: black;
  background-color: rgba(216, 0, 0, 0.6);
  border-color: rgb(211,0,0);
}
.btn-hl-red:active:hover,
.btn-hl-red.active:hover,
.open > .dropdown-toggle.btn-hl-red:hover,
.btn-hl-red:active:focus,
.btn-hl-red.active:focus,
.open > .dropdown-toggle.btn-hl-red:focus,
.btn-hl-red:active.focus,
.btn-hl-red.active.focus,
.open > .dropdown-toggle.btn-hl-red.focus {
  color: black;
  background-color: rgba(199, 0, 0, 0.6);
  border-color: rgb(180,0,0);
}
.btn-hl-red:active,
.btn-hl-red.active,
.open > .dropdown-toggle.btn-hl-red {
  background-image: none;
}
.btn-hl-red.disabled:hover,
.btn-hl-red[disabled]:hover,
fieldset[disabled] .btn-hl-red:hover,
.btn-hl-red.disabled:focus,
.btn-hl-red[disabled]:focus,
fieldset[disabled] .btn-hl-red:focus,
.btn-hl-red.disabled.focus,
.btn-hl-red[disabled].focus,
fieldset[disabled] .btn-hl-red.focus {
  background-color:rgba(240, 0, 0, 0.4);
  border-color: rgb(240,0,0);
}
.btn-hl-red .badge {
  color: rgba(240, 0, 0, 0.4);
  background-color: black;
}

.add-comment-moving {
    position: absolute;
    z-index: 4;
}

/* End of button */